body{
    font-family: 'Quicksand', sans-serif;
}

footer{
  font-size: 18px;
  color: #f6f6f6;
  margin-left: 20px;
  bottom: 0;
  width: 100%
  position: fixed;
}

a{
  color:#f6f6f6;
}

a:hover{
  color: #202020;
}

#quote-box{
    width: 70%;
    margin-top: 180px;
    border-radius: 5px;
    background: #f6f6f6;
}

#quote-text{
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}

#quote-author{
    font-size: 24px;
    margin-top: 20px;
    text-align: right;
}

#twitter-button{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #f6f6f6;
    font-size: 16px;
}

#quote-button{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #f6f6f6;
    font-size: 16px;
}
