body{
    font-family: 'Quicksand', sans-serif;
}

#quote-box{
    width: 70%;
    margin-top: 180px;
    border-radius: 5px;
    background: white;
}

#quote-text{
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}

#quote-author{
    font-size: 24px;
    margin-top: 20px;
    text-align: right;
}

#twitter-button{
    float: left;
    margin: 10px;
    color: white;
}

#quote-button{
    float: right;
    margin: 10px;
    color: white;
}
